/* ===== Global Reset ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

/* ===== Page Background ===== */
body {
  min-height: 100vh;
  background:
    linear-gradient(
      rgba(220, 240, 255, 0.8),
      rgba(220, 240, 255, 0.8)
    ),
    url("./assets/images/login-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* ===== Card (Login / Dashboard Box) ===== */
.card {
  background: #bdeff3;
  width: 380px;
  padding: 30px;
  border-radius: 18px;
  text-align: center;
  box-shadow: 0 25px 40px rgba(0, 0, 0, 0.25);
}

/* ===== Headings ===== */
.card h1 {
  margin-bottom: 8px;
}

.subtitle {
  color: #555;
  margin-bottom: 20px;
}

/* ===== Inputs ===== */
.card label {
  display: block;
  text-align: left;
  margin-top: 15px;
  font-weight: 600;
}

.card input {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: none;
  margin-top: 5px;
}

/* ===== Button ===== */
.card button {
  width: 100%;
  margin-top: 25px;
  padding: 12px;
  border-radius: 10px;
  border: none;
  background: #7b83ff;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.card button:hover {
  background: #5f66e0;
}

/* ===== Links ===== */
.card a {
  display: inline-block;
  margin-top: 15px;
  color: #3f4cff;
  text-decoration: none;
  font-weight: 500;
}
